/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  height: -webkit-fill-available;
}

#root {
  background-image: url('/src/assets/img/mapamundi-dark-bw.webp');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  min-height: 100%;
  border: 1px solid black;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1 {
  font-size: 5.4rem;
  margin-bottom: .5em;
}

h2 {
  font-size: 3.8rem;
  margin-bottom: .5em;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: .5em;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

/* label, small {
  display: block;
  margin: .7rem;
} */
/* main {
  backdrop-filter: blur(5px);
  margin-top: 7.2rem;
  min-height: 100vh;
} */
input {
  border: none;
  border-radius: 9999px;
  padding: .5em 1em;
}

select {
  border: none;
  border-radius: 9999px;
  padding: .5em;
}

input,
select {
  font-family: inherit;
}

.error {
  color: #fa2e2e;
}

.btn {
  border: none;
  border-radius: 9999px;
  padding: .7em 1.2em;
  /* margin: 1.5rem 2rem; */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  transition-duration: 0.3s;
}

.btn-primary {
  background-color: #ffd700;
  color: black;
}

.btn-primary:hover {

  transition-duration: 0.3s;
  background-color: rgba(255, 215, 0, 0.8);
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 40rem) {

  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.8rem;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 3.2rem;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: .5em;
  }
}