* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: poppins, sans-serif;
  color: white;
  font-size: 1.8rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 5.8rem;
  margin-bottom: .5em;
}
h2{
  font-size: 4.2rem;
  margin-bottom: .5em;
}
h3{
  font-size: 2.6rem;
  margin-bottom: .5em;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
small {
  display: block;
}

.error{
  color: #fa2e2e;
}

.btn {
  border: none;
  border-radius: 9999px;
  padding: 1em 1.5em;
  margin: 1.5rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration:none;
  font-size: 1.4rem;
}
.btn-primary {
  background-color: #ffd700;
  color: black;
}
.btn-primary:hover {
  background-color: rgba(255, 215, 0, 0.8);
}
.btn-secondary {
  background-color: white;
  color: black;
}
.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

