.container {
    margin: 5rem auto 7.2rem auto;
    width: 80%;
    /* border: 1px solid red; */
}

.formContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    grid-column-gap: 5rem;
    justify-items: center;
    /* margin-bottom: 2rem; */
}

@media (max-width: 42rem) {
    .formContainer {
        grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    }
}

.form {
    width: 100%;
}

.countriesContainer {
    width: 100%;
}

.fields {
    text-align: left;
}

.field {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.chks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.country {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}

.country div {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.country img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}