
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 100%;
    min-width: 68rem;
    max-width: 130rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.errorMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fa2e2e;
    min-height: 50vh;
}
