footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: 1.5rem 2.5rem;
    background-color: #ffd700;
    color: black;
    font-size: 1.2rem;
}

.social svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 1.5rem;
}

@media (max-width: 40rem) {
    .social svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1.5rem;
    }
}