.card {
	margin: 0 auto;
	padding: 2em;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 20rem;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, .8);
	transition-duration: 0.3s;
	height: 21em;
}

.card img {
	border-radius: 5px;
	width: 15rem;
	height: 9rem;
}

.cardTitle {
	font-size: 1.6rem;
}

.description {
	text-align: left;
}

.card:hover,
.card:focus,
.card:active {
	box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}