
.container {
    /* width: 2.5rem; */
    padding: 1em;
    /* margin: 1rem auto; */
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container > * {
    margin: 0 1rem;
}
button {
    border: none;
    background-color: white;
    border-radius: 8px;
    padding: .2em;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}